body {
  background: #ffffff;
}

#nav {
  background: #ffffff;
  margin-top: 39px;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.floating {
  /* Conformation window */

  position: absolute;
  width: 80%;
  height: 447px;
  left: 9%;
  top: 258px;
  padding: 43px;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.logo {
  /* Restaurant & Lounge */

  left: 42px;
  top: 56px;

  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;

  color: #000000;
}

.carrito {
  width: auto;
  height: 81px;
  left: 1257px;
  top: 43px;
}

.items {
  margin-top: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

.hamburguesa {
  width: 100%;
  height: 344px;
  left: 0px;
  top: 143px;
  object-fit: cover;
  margin-bottom: 11px;
}
.header {
  padding: 0;
  margin: 0;
}

.cats {
  height: 81px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 27px;
  padding-left: 53px;

  background-color: #333a40;
}

.category {
  margin-left: 48px;
  color: white;
  text-decoration-line: none;
}

.category:hover {
  text-decoration-line: underline;
  color: white;
}

.menu {
  display: inline-block;
}

#selectedCategory {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.card-img-top {
  margin-top: 15px;

  object-fit: cover;
  height: 130px;
  width: 175px;
}

.card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  margin-top: 5px;
  margin-bottom: 25px;
  text-align: center;
}
.card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.btn-add {
  width: 96px;
  height: 33px;

  background: #f2a950;
  border: 1px solid #cccccc;
  box-sizing: border-box;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  border-radius: 0;
  border-bottom: 0;
}
.card-text {
  text-align: left;
}
.add-place {
  margin-bottom: 11px;
}

footer {
  margin-top: 33px;
  margin-bottom: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  background-color: white;

  color: #000000;
}

.theading {
  font-weight: 500;
  font-family: "Roboto";
  border: none;
}

.gray {
  background-color: #c4c4c4;
}

.white {
  background-color: white;
}

.plus {
  margin-right: 9px;
  background-color: #fdcd55;
  border-radius: 3px;
  border: none;
  width: 31px;
  height: 32px;
}
.minus {
  background-color: #fdcd55;
  border-radius: 3px;
  border: none;
  width: 31px;
  height: 32px;
}

.cancel {
  width: 95px;
  height: 47px;

  background: #8c162c;
  border: 1px solid #000000;
  border-radius: 0;
  margin-right: 3px;
}

.right {
  text-align: right;
}

.cancel-2 {
  height: 47px;

  background: #8c162c;
  border: none;
  border-radius: 0;
  margin-right: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.conf {
  width: 143px;
  height: 48px;

  background: #708c32;
  border: 1px solid #000000;
  border-radius: 0;
}

.conf-2 {
  height: 48px;

  background: #708c32;
  border: none;
  border-radius: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 18px;
}

.separator {
  border-style: solid;
  border-bottom: #000000;
  border-width: 1px;
}

.sep {
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  margin-bottom: 11px;
}

.txt-cancel-order {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  border-bottom: 1px solid black;
}

.r-u-sure {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border-bottom: 1px solid black;
  padding-top: 26px;
  padding-bottom: 26px;
}
.btn-cont {
  text-align: right;
}

@media only screen and (max-width: 991px) {
  /* For mobile phones: */
  [class*="carrito-holder"] {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  [class*="carrito-mobile"] {
    height: auto;
    width: 37px;
    object-fit: cover;
  }
  [class*="logo-mobile"] {
    text-align: center;
  }
  [class*="right-align"] {
    text-align: right;
  }
  #nav {
    border: none;
  }
  [class*="txt-cancel-order"] {
    border: none;
  }
  [class*="r-u-sure"] {
    border: none;
    margin-bottom: 127px;
  }
  [class*="cancel-2"] {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 100%;
    height: 46px;
  }
  [class*="conf-2"] {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 100%;
    height: 52px;
  }
  [class*="floating"] {
    height: 644px;
    top: 116px;
    padding-left: 29px;
    padding-right: 20px;
  }
  footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 36px;
    margin: 0;
  }
  .yellow {
    background-color: #fdcd55;
    height: 39px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding-left: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 35px;

    color: #000000;
  }
  .ord {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 26px;
  }
  .selmenu {
    background: rgba(196, 196, 196, 0.34);
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 21px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 43px;
  }
  .spacing {
    margin-top: 15px;
  }
  .padded {
    padding-left: 58px;
    padding-right: 58px;
  }
}
